// LOGO
.logo{
    height: 2rem;
    margin-left: 2rem;
}

// Search 
.search{
    background-color: orangered;
    flex: 0 0 40%;

    &__input {
        font-family: inherit;
        font-size: inherit;
        background-color: var(--color-grey-light-2);
        color: inherit;
        border: 0;
        padding: .5rem 2rem;
        border-radius: 6rem;
        width: 90%;
    }

    &__button {}

    &__icon {
        height: 1.2rem;
        width: 1.2rem;
    }
}

// Navigation
.user-nav {
    &__icon-box {}

    &__icon {
        height: 1.45rem;
        width: 1.45rem;
    }

    &__notification {}

    &__user {}

    &__user-photo {
        height: 2.5rem;
        border-radius: 50%;
    }

    &__username {}
}