.container {
    max-width: 50rem;
    margin: 4rem auto;
    background: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 25rem;
}

.header {}

.content {}

.sidebar {}

.hotel-view {}