.container {
    max-width: 90%;
    margin: 8rem auto;
    background: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;

    @media only screen and (max-width: $breaking-point-xl){
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 6rem;
    background: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $breaking-point-xs){
        flex-wrap: wrap;
        justify-content: space-around;
        height: 8rem;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $breaking-point-m){
        flex-direction: column;
    }
}

.sidebar {
    background: var(--color-grey-dark-1);
    flex: 0 0 16%;

    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
}

.hotel-view {
    flex: 1;
}

.details {
    display: flex;
    padding: 2.5rem;
    background: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: .9rem;

    @media only screen and (max-width: $breaking-point-m){
        padding: .5rem;
    }

    @media only screen and (max-width: $breaking-point-s){
        flex-direction: column;
    }
}

.description{
    font-size: 1rem;
    background: #fff;
    flex: 0 0 60%;
    margin-right: 3rem;
    padding: 2rem;
    box-shadow: var(--shadow-light);

    @media only screen and (max-width: $breaking-point-m){
        padding: 1rem;
        margin-right: .8rem;
    }

    @media only screen and (max-width: $breaking-point-s){
        margin: 0 0 1rem 0;
    }
}

.user-reviews{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}