.container {
    max-width: 120rem;
    margin: 4rem auto;
    background: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 30rem;

    @media only screen and (max-width: $breaking-point-xl){
        margin: 0;
    }
}

.header {
    font-size: 1.4rem;
    height: 6rem;
    background: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background: var(--color-grey-dark-1);
    flex: 0 0 16%;

    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
}

.hotel-view {
    flex: 1;
}

.details {
    display: flex;
    padding: 2.5rem;
    background: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: .9rem;
}

.description{
    font-size: 1rem;
    background: #fff;
    flex: 0 0 60%;
    margin-right: 3rem;
    padding: 2rem;
    box-shadow: var(--shadow-light);
}

.user-reviews{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}